<!DOCTYPE html>
<html lang="en">
<head>
<title>Layout2</title>
<meta charset="utf-8">
<style>
body {
	background-color: #abc;
}
#container {
	background-color: #fff;
	width: 800px;
	height: 675px;
	overflow: hidden;
	margin: auto;
}
#top {
	background-color: blue;
	height: 150px;
	margin: 10px;
}
#middle {
	background-color: yellow;
	height: 375px;
	margin-left: 10px;
	margin-right: 10px;
}
#bottom {
	background-color: red;
	height: 115px;
	margin: 10px;
}
</style>
</head>
<body>
<div id="container">
<div id="top">
TOP
</div><!--top-->
<div id="middle">
MIDDLE
</div><!--middle-->
<div id="bottom">
BOTTOM
</div><!--bottom-->


</div><!--container-->
<a href ="Lab7.html">Back to Main Page</a>

</body>
</html>