<!DOCTYPEfour html>
<html lang="en">
<head>
<title>Eric Price Hobby of Torrents</title>
<meta charset="utf-8">
<meta name="author" content="Eric Price">
<meta name="description" content="Torrent Hobby">
<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/x-con" href="favicon.ico">
<style>
#container: {
	height: 600px;
	width: 800px;
}
#one {
	width: 20%;
	height: 120px;
	background-color: red;
}
#two {
	width: 40%;
	height: 120px;
	background-color: blue;
	}
#three {
	width: 60%;
	height: 120px;
	background-color: yellow;
	}
#four {
	width: 80%;
	height: 120px;
	background-color: orange;
}
#five {
	width: 100%;
	height: 120px;
	background-color: green;
}
</style>
</head>
<body>

<div id="one">
ONE
</div>
<div id="two">
TWO
</div>
<div id="three">
THREE
</div>
<div id="four">
FOUR
</div>
<div id="five">
FIVE
</div>


</body>
</html>