<!DOCTYPE html>
<html lang="en">
<head>
<title>Layout1</title>
<meta charset="utf-8">
<style>
body {
	background-color: #abc;
}
#container {
	width: 800px;
	background-color: #fff;
	margin: auto;
	height: 675px;
	overflow: hidden;
}
#top {
	background-color: blue;
	height: 200px;
}
#left {
	background-color: red;
	width: 200px;
	height: 475px;
	float: left;
	}
#bottom {
	background-color: green;
	height: 475px;
}

</style>

</head>
<body>
	<div id="container">
	<div id="top">
	TOP
	</div>
	<div id="left">
	LEFT
	</div>
	<div id="bottom">
	BOTTOM
	</div>


	</div>
</body>
</html>