<!DOCTYPE html>
<html lang="en">
<head>
<title>Eric Price CIS 195 Portfolio</title>
<meta charset="utf-8">
<meta name="author" content="Eric Price">
<meta name="description" content="CIS 195 Portfolio">
<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/x-con" href="favicon.ico">
<style>
* {
	margin: 0px;
	padding: 0px;
}
nav ul {
	width: 150px;
	float: left;
	list-style-type: none;
	
}
nav ul li {
	width: 150px;
	position: relative;
}	
nav ul li a {
	display: block;
	text-decoration: none;
	padding: 5px;
	color: #123;
	background-color: #770;
	font-weight: bold;
}
nav ul li a:hover {
	color: white;
}
li ul {
	display: none;
}
li:hover ul {
	display: block;
	position: absolute;
	left: 150px;
	top: 0px;
}	
</style>
</head>
<body>
<header>
<h1>Vertical Drop-down Navigation Bar</h1>
</header>
<nav>
	<ul>
		<li><a href="#">Fall</a>
			<ul>
				<li><a href="#">Football</a></li>
				<li><a href="#">Soccer</a></li>
			</ul>
		
		</li>
		<li><a href="#">Winter</a>
				<ul>
					<li><a href="#">Basketball</a></li>
					<li><a href="#">Wrestling</a></li>
				</ul>
		</li>
		<li><a href="#">Spring</a></li>
	</ul>

</nav>


</body>
</html>